# See Clang docs: http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google

# Allow double brackets such as std::vector<std::vector<int>>.
Standard: Cpp11

# Indent 4 spaces at a time.
IndentWidth: 4

# Keep lines under n columns long.
ColumnLimit: 80

# Right-align pointers and references
PointerAlignment: Right

# Use 2 space negative offset for access modifiers
AccessModifierOffset: -3

# Useful for spacing out functions in classes
KeepEmptyLinesAtTheStartOfBlocks: true

# Fixes the namespace declarations
FixNamespaceComments: true
